html {
  font-family: Sans;
  font-size: 1em;
  color: #f8f8f8;
}

input{
  margin-left: 5px;
  color: #f8f8f8;
}

.functions-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  color: #f8f8f8;
  background-color: #555;
}

.functions-box select {
  margin-left: 5px;
  color: #f8f8f8;
  background-color: #777;
  border: none;
}

.filter-box {
  padding-right: 20px;
}

.input-box {
  background: none;
  margin-right: 20px;
  border: 0px;
  border-bottom: 1px solid;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-auto-rows: 200px;
  grid-gap: 10px;
	width: 100%;
  justify-content: center;
  grid-auto-flow: dense;
}

.main-box {
  display: flex;
  justify-content: center;
	align-items: center;
  //background-color: rgba(255, 0, 0, 0.2);
}


@media only screen and (min-width: 1000px) {
	.main-box .img{
	  display: block;
	}

	.main-box #book-info {
	  display: none;
	}

	.main-box:hover .img{
	  display: none;
	}

	.main-box:hover #book-info {
	  display: block;
	}
}

.img {
	height: 200px;
  max-width: 160px;
  background-size: cover;
	display: none;
  margin: auto;
	opacity: 1;
}

#book-info {
  background-color: #555;
	color: #f8f8f8;
  width: 100%;
  height: 200px;
  display: flex;
	flex-direction: column;
	justify-content: center;
  margin: auto;
  margin-left: 0px;
  overflow: hidden;
}

#book-info p, #book-info h4 {
  padding-left: 4px;
  padding-right: 2px;
  margin-top: 0px;
  margin-bottom: 6px;
}

#main-box-title {
  font-weight: bold;
}

/* The Modal (background) */
.modal {
	/* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.94); /* Black w/ opacity */
}

.modal-table {
	display: table;
	margin: auto;
  height: 80%;
	justify-content: center;
}

.modal-cell {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	float: left;
  padding-right: 6px;
	height: 350px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 350px;
  min-width: 500px;
  max-width: 550px;
}

.caption p {
  display: block;
	margin-bottom: 15px;
	text-align: left;
	color: #f8f8f8;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
	animation-name: zoom;
	animation-duration: 0.5s;
}

@keyframes zoom {
	from {opacity: 0;}
	to {opacity: 1;}
}
